menu "Edgelab Configuration"

    rsource "porting/Kconfig"

    config EL_DEBUG
        bool "Debug"
        default y
        help
            "Enable debugging"

    menu "Debug Options"
        depends on EL_DEBUG
        config EL_DEBUG_COLOR
            bool "color"
            default y
            help
                "Debug color"

        config EL_DEBUG_MORE_INFO
            bool "more info"
            default y
            help
               "Debug show more info"

        config EL_DEBUG_LEVEL
            int "level"
            default 3
            range 0 4
            help
                "Debug log level"

        config EL_ASSERT
            bool "assert"
            default y
            help
                "Enable assert"
    endmenu

    rsource "core/engine/Kconfig"
    rsource "third_party/Kconfig"

endmenu
