choice
    prompt "Board"
    depends on EL_TARGET_ESPPRESSIF
    default EL_BOARD_SEEED_XIAO_ESP32S3
    help
        Select the board you want to build the firmware for.

    config EL_BOARD_SEEED_XIAO_ESP32S3
        bool "Seeed Xiao ESP32-S3"
        default y

    config EL_BOARD_ESPRESSIF_ESP32S3_EYE
        bool "Espressif ESP32-S3-EYE"
        default n

endchoice
